body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
    background-color: rgb(170, 200, 240);
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 2em;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
  background: blue;
  margin: 0;
  width: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}
